body {
  background-image: url("../img/dragon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

nav li {
  width: 19%;
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

nav li:hover {
  border: solid blue 1px;
}

a {
  text-decoration: none;
  color: navy;
}

a:hover {
  color: blue;
}

img {
  width: 480px;
  margin-right: 50%;
}
